<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!--Sub CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!--Bootstrap JS-->
    <title>Hello, sbb!</title>
</head>
<body>
<!--네 비 게 이 션 바-->
<nav th:replace="navbar :: navbarFragment"></nav>
<!--기본 템플릿 안에 삽입될 내용 Start-->
<th:block layout:fragment="content" class="container my-3"></th:block>
<!--기본 템플릿 안에 삽입될 내용 End-->
<!--Bootstrap JS-->
<script th:src="@{/bootstrap.min.js}"></script>
<!--자 바 스 크 립 트 Start-->
<th:block layout:fragment="script"></th:block>
<!--자 바 스 크 립 트 End-->
</body>
</html>