<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>제 목</th>
        <th>작 성 일 시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question, index : ${questionList}">
        <td>
            <!--문자열과 객체의 값을 더할 떄는 ||로 감싸주어야 함-->
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td th:text="${question.createDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>